{% extends 'base.html.twig' %}

{% block title %}Evènement
{% endblock %}

{% block body %}

	<main class="container-xl text-primary typoHand">
		<div class="row row-cols-1 row-cols-md-2">
			<h1 class="col-md-12 text-center typoClassic text-black py-3 m-0">
				{{season}}, Evènements à venir :
			</h1>
			{% for event in futurEvents %}
				{% include "/partials/events/_eventNotebook.html.twig" %}
			{% endfor %}


		</div>

		<div class="row row-cols-1 row-cols-md-2" id="archives">
			<div class="col-md-12 text-center">
				<button type="button" class="btn btn-primary rounded-pill p-0 px-sm-3 lh-sm js-pastEvent-button" href="{{path('app_eventsPast')}}">{{season}}
					voir les évènements passés</button>
				<button type="button" class="btn btn-primary rounded-pill p-0 px-sm-3 lh-sm js-pastEvent-button">
					saison précédentes</button>
			</div>


		</div>
		<div class="d-none row row-cols-1 row-cols-md-2 js-pastEvent-content"></div>

		<!--arrow Bootstrap Icons top page-->
		<a href="#up" class="position-fixed z-3 arrowUp">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" fill="currentColor" class="bi bi-arrow-up" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
			</svg>
		</a>
	</main>

{% endblock %}
