<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{{vich_uploader_asset(logo.getFavicon, 'imageFile')}}">
		<title>
			Ape de Bruges :
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content="Association des Parents d'Élèves - Ensemble, nous pouvons améliorer l'expérience scolaire de nos enfants !">
		<meta name="keywords" content="association, parents, élèves, école, activités, événements, kermesse, marché de noël, marché aux fleurs">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>
		{% include "./partials/_header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "./partials/_footer.html.twig" %}
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</body>
</html>
